html {
  font-size: 1rem;
}

ion-icon {
  font-size: 64px;
}

a ion-icon{
	color:black;
}

a ion-icon:hover{
	color:rgb(150,150,150);
}

a {
	color:red;
}


.card-columns {
	column-count: 3;
}

.member-box,.img-jumbotron{
	text-align: center;
	position:relative;
}

.darkened{
	opacity:.5;
}

.icon-sm {
	font-size:32px;
}

.img-overlay{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size:1.5vw;
}

.semi-trans{
	background:rgba(220,220,220,.9);
}

/*Dartmouth Green*/
.bg-dart-green{
	background-color: #00693E;
}
.border-dart-green {
	border-color: #00693E;
}
.text-dart-green {
	color: #00693E;
}
.outl-black {
	text-shadow: 0px 0px 1px black;
}

/*Light Green*/
.bg-light-dart-green{
	background-color: #7A9F85;
}
.border-light-dart-green {
	border-color: #7A9F85;
}
.text-light-dart-green {
	color: #7A9F85;
}

.term-title {
	text-decoration: underline;
}

.term-title:hover {
	color:#00693E;
	cursor:pointer;
}

.term-title.ng-show {
  opacity:1;
  /* transform: scale(0.8); */
}

.overflow-scroll {
	overflow: scroll;
}


/*Icon Div*/
.icon-div {
	border-radius: 100%;
	border:5px solid #00693E!important;
	margin:2rem;
	font-size: 8rem;
	padding:2rem;
	color:#7A9F85!important;
}

.box {
  background-color: #F6F0F0;
  border-style: solid;
  border-width: medium;
  border-color: #7A9F85;
  display: flex;
  flex-direction: column;
  align-items:  center;
  margin-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 3vh;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.box h1 {
  color: #7A9F85;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.mission h3, .staffing h3 {
  color: #7A9F85;
}

.historyBox {
  background-color: #7A9F8580;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.historyBox h3, .serviceBox h3 {
  font-size: 1.3em;
  color: #FFFFFF;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.serviceBox {
  background-color: #7A9F8580;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionPart, .staffText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyContainer {
  display: flex;
  flex-direction: column;
}

.historySection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
}

.staffing p {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
}
