html {
  font-size: 1rem;
}

ion-icon {
  font-size: 64px;
}

a ion-icon{
	color:black;
}

a ion-icon:hover{
	color:rgb(150,150,150);
}

a {
	color:red;
}


.card-columns {
	column-count: 3;
}

.member-box,.img-jumbotron{
	text-align: center;
	position:relative;
}

.darkened{
	opacity:.5;
}

.icon-sm {
	font-size:32px;
}

.img-overlay{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size:1.5vw;
}

.semi-trans{
	background:rgba(220,220,220,.9);
}

/*Dartmouth Green*/
.bg-dart-green{
	background-color: #00693E;
}
.border-dart-green {
	border-color: #00693E;
}
.text-dart-green {
	color: #00693E;
}
.outl-black {
	text-shadow: 0px 0px 1px black;
}

/*Light Green*/
.bg-light-dart-green{
	background-color: #7A9F85;
}
.border-light-dart-green {
	border-color: #7A9F85;
}
.text-light-dart-green {
	color: #7A9F85;
}

.term-title {
	text-decoration: underline;
}

.term-title:hover {
	color:#00693E;
	cursor:pointer;
}

.term-title.ng-show {
  opacity:1;
  /* transform: scale(0.8); */
}

.overflow-scroll {
	overflow: scroll;
}


/*Icon Div*/
.icon-div {
	border-radius: 100%;
	border:5px solid #00693E!important;
	margin:2rem;
	font-size: 8rem;
	padding:3rem;
	color:#7A9F85!important;
}

.mh-30rem {
	max-height: 30rem;
}
