.card-columns {
	column-count: 3;
}

.member-box,.img-jumbotron{
	text-align: center;
	position:relative;
}

.darkened{
	opacity:.5;
}

ion-icon {
  font-size: 64px;
}

a ion-icon{
	color:black;
}

a ion-icon:hover{
	color:rgb(150,150,150);
}

.icon-sm {
	font-size:32px;
}

.img-overlay{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.semi-trans{
	background:rgba(220,220,220,.9);
}