<div class="container-fluid my-0">
	<div class="row justify-content-center m-5">
	  <div class='col-10'>
	    <p> The process to become a patroller with the Dartmouth Ski Patrol (DSP) is competitive and challenging. We select those applicants who are most likely to succeed both as patrollers and as contributors to the team. You don't need to be the best skier on the mountain. You don't need to have the longest resume. A strong desire to succeed, grace under pressure, communication and teamwork skills, and/or the ability to work with your hands are all equally important. If you can see yourself as a patroller, you should apply - we will train you! </p>
	  </div>
	</div>
	<span class="d-none d-xl-block">
		<hr>
		<div class="row justify-content-center m-5">
				<div class="col-6 d-flex flex-column justify-content-around border-right-0 border border-dart-green rounded-left">
					<h2>What We Do</h2>
					<p>Dartmouth Ski Patrol members respond to real emergencies.</p>
					<p>Members are personally responsible for rescue of persons with potentially life-altering injuries.</p>
					<p>Ski Patrol work involves inherent risk greater than that experienced by a recreational skier.</p>
				</div>
				<div class="col-4 justify-content-center mx-0 p-0">
					<img src="images/IMG_2721.png" class="img-fluid border border-dart-green border-left-0 rounded-right mx-auto d-block">
				</div>
			</div>
		<div class="row justify-content-center m-5">
			<div class="col-4 justify-content-center mx-0 p-0">
				<img src="images/IMG_5106.png" class="img-fluid border border-right-0 border-dart-green rounded-left mx-auto d-block">
			</div>
			<div class="col-6 d-flex flex-column justify-content-around border border-left-0 border-dart-green rounded-right">
				<h2>What we Expect</h2>
				<p>Members must rapidly develop and maintain a high level of proficiency.</p>	
				<p>Patrol membership entails a commitment similar to a varsity sport.</p>
				<p>A new member will spend hundreds of hours in challenging training.</p>
				<p>This is a four-year commmitment, no winters off.</p>
			</div>
		</div>
	</span>
	<span class="">
		<hr>
		<div class="row text-center my-5 mh-100">
			<div class="jumbotron jumbotron-fluid p-0 my-0">
				<div class="img-jumbotron">
	  				<img src="images/header4.jpg" class="img-fluid">
	  				<div class="img-overlay container w-100">
	  					<div class="card-deck">
							<div class="card semi-trans" ng-show="(term != 'Winter Term') && (term != 'Sophmore Winter')">
								<div class="card-body">
									<h2 class="card-title term-title"  ng-click="changeTerm($event)">Fall Term</h2>
									<p class="card-text">
										<p>Attendence at Inforamation Session</p>
										<p>Online Application</p>
										<p>Formal Interview and Initial Testing</p>
										<p>First Round Selections</p>
										<p>Outdoor Emergency Care Classes</p>
									</p>
								</div>
							</div>
							<div class="d-none d-xl-flex align-items-center" ng-show="!term"><ion-icon name="arrow-round-forward" class="text-dart-green"></ion-icon></div>
							<div class="d-xl-none d-flex align-items-center" ng-show="!term"><ion-icon name="arrow-round-down" class="text-dart-green"></ion-icon></div>
							<div class="card semi-trans" ng-show="(term != 'Fall Term') && (term != 'Sophmore Winter')">
								<div class="card-body">
									<h2 class="card-title term-title"  ng-click="changeTerm($event)">Winter Term</h2>
									<p class="card-text">
										<p>Ski and Ride Skills Evaluation</p>
										<p>Practical Skills Evaluation</p>
										<p>Second Round Selections (15 chosen)</p>
										<p>Winter Term Shift Training</p>
									</p>
								</div>
							</div>
							<div class="d-none d-xl-flex align-items-center" ng-show="!term"><ion-icon name="arrow-round-forward" class="text-dart-green"></ion-icon></div>
							<div class="d-xl-none d-flex align-items-center" ng-show="!term"><ion-icon name="arrow-round-down" class="text-dart-green"></ion-icon></div>
							<div class="card semi-trans" ng-show="(term != 'Fall Term') && (term !='Winter Term')">
								<div class="card-body">
									<h2 class="card-title term-title" ng-click="changeTerm($event)">Sophmore Winter</h2>
									<p class="card-text">
										<p>Sophmore Winter Cadidate Training</p>
										<p>Sophmore Winter "Vest" Test</p>
									</p>
								</div>
							</div>
							<div class="card semi-trans" ng-show="term == 'Fall Term'">
								<div class="card-body">
									<h2 class="card-title">Fall Term Extra Data</h2>
									<p class="card-text">
										<p>Interviews will include review of application, life experience, ski/snowboard experience and interests, interaction skills, and more. Recommended attire is "business casual". The applicant may be photographed. The interview panel will include at least two interviewers, at least one of whom is an upperclass student. Brief initial testing to determine a baseline of technical and physical ability will be conducted.</p>
										<p>An Outdoor Emergency Care certification class will be provided during the fall term to prepare the applicant. Class is held Tuesday and Thursday for 2 to 3 hours each class session with online preparation for each class.</p>
									</p>
								</div>
							</div>
							<div class="card semi-trans" ng-show="term == 'Winter Term'">
								<div class="card-body">
									<h2 class="card-title">Winter Term Extra Data</h2>
									<p class="card-text">
										<p>
									</p>
								</div>
							</div>
							<div class="card semi-trans" ng-show="term == 'Sophmore Winter'">
								<div class="card-body">
									<h2 class="card-title">Sophmore Summer Extra Data</h2>
									<p class="card-text">
										<p>Members who have successfully completed all phases of training and the OEC course will return several days before their sophomore winter term begins, in late December, for several days of intensive all-day on-mountain training. Members are now considered "Candidates" for the title of Ski Patroller. </p>
									</p>
								</div>
							</div>
						</div>
	  				</div>
	  			</div>
	  		</div>
		</div>
	</span>
	<span>
		<hr>
		<div class="row mt-5 text-center p-0">
			<div class="jumbotron-fluid jumbotron w-100 bg-dart-green my-0">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-5 border rounded semi-trans">
							<h1>Contact Us</h1>
							<div class="d-flex flex-row justify-content-around p-0">
								<p><a  href="https://www.instagram.com/dskipatrol/?hl=en" target="_blank"><ion-icon name="logo-instagram" class="icon-sm"></ion-icon></a></p>
								<p><a href="mailto:ski.patrol@dartmouth.edu" target="_blank"><ion-icon name="mail" class="icon-sm"></ion-icon></a></p>
								<p><a href="https://www.facebook.com/dartmouthskipatrol" target="_blank"><ion-icon name="logo-facebook" class="icon-sm"></ion-icon></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</span>

	<!-- <div class="row my-5">
		<div class="jumbotron jumbotron-fluid p-0">
			<div class="img-jumbotron">
				<img src="images/header2.jpg" class="img-fluid">
				<div class="img-overlay container">
					<div class="row justify-content-center">
						<div class="col-5 border rounded semi-trans">
							<h1>Contact Us</h1>
							<div class="d-flex flex-row justify-content-around p-0">
								<p><a  href="https://www.instagram.com/dskipatrol/?hl=en" target="_blank"><ion-icon name="logo-instagram" class="icon-sm"></ion-icon></a></p>
								<p><a href="mailto:ski.patrol@dartmouth.edu" target="_blank"><ion-icon name="mail" class="icon-sm"></ion-icon></a></p>
								<p><a href="https://www.facebook.com/dartmouthskipatrol" target="_blank"><ion-icon name="logo-facebook" class="icon-sm"></ion-icon></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>